asgiref==3.8.1
Django==5.2
sqlparse==0.5.3
celery
flower
drf-yasg
django-filter
django-storages
boto3
Pillow
weasyprint
pyopenssl
cryptography
asn1crypto
djangorestframework-simplejwt
django-cors-headers
channels
redis==4.5.5
channels_redis
pykalkan
pyHanko
PyPDF2
django-rest-passwordreset
django-otp 
qrcode